/* Container and controls */
.excalidraw-container {
  border: 1px solid var(--border);
  width: 100%;
  overflow: hidden;
  position: relative;
  touch-action: none;
  user-select: none;
}

.excalidraw-content {
  width: 100%;
  height: 100%;
}

.excalidraw-content svg {
  width: 100%;
  height: 100%;
  display: block;
}

.excalidraw-container .excalidraw-svg a:hover {
  fill: var(--link);
  text-decoration: underline;
}

