#md-content {
  --h1-size: 1.95rem;
  --h1-weight: 700;
  --h1-line-height: 1.55;
  --h1-letter-spacing: 0.02em;

  --h2-size: 1.56rem;
  --h2-weight: 600;
  --h2-line-height: 1.55;
  --h2-letter-spacing: 0.02em;

  --h3-size: 1.4rem;
  --h3-weight: 600;
  --h3-line-height: 1.6;
  --h3-letter-spacing: 0.025em;

  --h4-size: 1.25rem;
  --h4-weight: 500;
  --h4-line-height: 1.6;
  --h4-letter-spacing: 0.025em;

  --h5-size: 1.18rem;
  --h5-weight: 500;
  --h5-line-height: 1.6;
  --h5-letter-spacing: 0.03em;

  --h6-size: 1.12rem;
  --h6-weight: 500;
  --h6-line-height: 1.6;
  --h6-letter-spacing: 0.03em;

  --body-xl-size: 1.06rem;
  --body-xl-weight: 400;
  --body-xl-line-height: 1.6;
  --body-xl-letter-spacing: 0.03em;

  --body-size: 1rem;
  --body-weight: 400;
  --body-line-height: 1.6;
  --body-letter-spacing: 0.03em;

  --body-sm-size: 0.95rem;
  --body-sm-weight: 400;
  --body-sm-line-height: 1.65;
  --body-sm-letter-spacing: 0.03em;

  --caption-lg-size: 0.89rem;
  --caption-lg-weight: 400;
  --caption-lg-line-height: 1.65;
  --caption-lg-letter-spacing: 0.03em;

  --caption-size: 0.85rem;
  --caption-weight: 400;
  --caption-line-height: 1.65;
  --caption-letter-spacing: 0.03em;

  --caption-sm-size: 0.8rem;
  --caption-sm-weight: 300;
  --caption-sm-line-height: 1.65;
  --caption-sm-letter-spacing: 0.03em;

  max-width: 80rem;
}

/* Headings */
#md-content h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: 1.5rem;
}

#md-content h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  margin-bottom: 1.25rem;
}

#md-content h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: 1rem;
}

#md-content h4 {
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  margin-bottom: 0.75rem;
}

#md-content h5 {
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  margin-bottom: 0.5rem;
}

#md-content h6 {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  margin-bottom: 0.5rem;
}

/* Spacing */
#md-content p,
#md-content ul,
#md-content ol,
#md-content hr,
#md-content blockquote {
  margin-bottom: 1.25rem;
}

#md-content ul ul,
#md-content ul ul ul {
  margin-bottom: 0;
}

#md-content ol ol,
#md-content ol ol ol {
  margin-bottom: 0;
}

/* Body text */
#md-content p {
  font-size: var(--body-sm-size);
  font-weight: var(--body-sm-weight);
  line-height: var(--body-sm-line-height);
  letter-spacing: var(--body-sm-letter-spacing);
  margin: 1rem 0;
}

/* List */
#md-content ul p,
#md-content ol p {
  margin: 0;
}

#md-content ul,
#md-content ol {
  padding-left: 1.5rem;
}

#md-content ol {
  list-style-type: decimal;
}

#md-content ol ol {
  list-style-type: lower-alpha;
}

#md-content ol ol ol {
  list-style-type: lower-roman;
}

#md-content ul {
  list-style-type: disc;
}

#md-content ul ul {
  list-style-type: circle;
}

#md-content ul ul ul {
  list-style-type: square;
}

#md-content li {
  margin: 4px 0;
}

/* Tables */
#md-content table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  display: block;
  overflow-x: auto;
}

#md-content th,
#md-content td {
  border: 1px solid var(--border);
  padding: 0.5rem;
}

#md-content th {
  font-weight: 600;
}

#md-content a {
  color: var(--link);
}

#md-content a:hover {
  text-decoration: underline;
}

/* Code Block */
#md-content div.expressive-code {
  margin: 10px 0;
}

#md-content div.expressive-code span {
  overflow-x: auto;
}

/* Inline Code */
#md-content p code {
  background-color: #f2e5bc;
  border: 1px solid #e8d086;
  padding: 4px 0;
}

/* Heading ID */
#md-content :is(h2, h3, h4, h5, h6) a[href^="#"] span.icon.icon-link::after {
  content: "#";
  margin-left: 4px;
  color: var(--link);
}

#md-content :is(h2, h3, h4, h5, h6) a[href^="#"] {
  text-decoration: none;
  opacity: 0;
  transition: 300ms;
}

#md-content :is(h2, h3, h4, h5, h6):hover a[href^="#"] {
  opacity: 1;
  transition: 300ms;
}

/* Custom Callout */
/* .callout { */
/*   mix-blend-mode: normal !important; */
/* } */

#md-content [data-callout="arabic"] {
  --rc-color-light: var(--chart-1);
  --rc-color-dark: var(--chart-4);
}

#md-content [data-callout="arabic"] div.callout-content p {
  font-size: 1.8rem !important;
  font-family: var(--font-arabic), sans-serif;
  line-height: 2 !important;
  direction: rtl !important;
}

#md-content [data-callout="latin"] {
  --rc-color-light: rgb(114, 163, 78);
  --rc-color-dark: rgb(114, 163, 78);
}

#md-content [data-callout="latin"] .callout-content {
  font-family: serif;
}

#md-content [data-callout="translation"] {
  --rc-color-light: rgb(190, 140, 93);
  --rc-color-dark: rgb(190, 140, 93);
}

/* Custom Classes */
.quran span[data-rehype-pretty-code-figure] code span {
  font-family: serif;
}
